#%RAML 0.8
---
title: GitHub API
version: v3
baseUri: https://api.github.com/
securitySchemes:
  - oauth_2_0:
      description: |
        OAuth2 is a protocol that lets external apps request authorization to private
        details in a user's GitHub account without getting their password. This is
        preferred over Basic Authentication because tokens can be limited to specific
        types of data, and can be revoked by users at any time.
      type: OAuth 2.0
      describedBy:
        headers:
          Authorization:
            description: |
              Used to send a valid OAuth 2 access token. Do not use together with
              the "access_token" query string parameter.
            type: string
        queryParameters:
          access_token:
            description: |
              Used to send a valid OAuth 2 access token. Do not use together with
              the "Authorization" header
            type: string
        responses:
          404:
            description: Unauthorized
      settings:
        authorizationUri: https://github.com/login/oauth/authorize
        accessTokenUri: https://github.com/login/oauth/access_token
        authorizationGrants: [ code, token ]
        scopes:
          - "user"
          - "user:email"
          - "user:follow"
          - "public_repo"
          - "repo"
          - "repo:status"
          - "delete_repo"
          - "notifications"
          - "gist"
securedBy: [ oauth_2_0 ]
mediaType: application/json
resourceTypes:
  - base:
      get?: &common
        headers:
          X-GitHub-Media-Type:
            description: |
              You can check the current version of media type in responses.
            type: string
          Accept:
            description: Is used to set specified media type.
            type: string
          X-RateLimit-Limit:
            type: integer
          X-RateLimit-Remaining:
            type: integer
          X-RateLimit-Reset:
            type: integer
          X-GitHub-Request-Id:
            type: integer
        responses:
          403:
            description: |
              API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
              for details.
      post?: *common
      patch?: *common
      put?: *common
      delete?: *common
  - item:
      type: base
      get?:
      post?:
      patch?:
      put?:
      delete?:
        responses:
          204:
            description: Item removed.
  - collection:
      type: base
      get?:
      post?:
traits:
  - historical:
      queryParameters:
        since:
          description: |
            Timestamp in ISO 8601 format YYYY-MM-DDTHH:MM:SSZ.
            Only gists updated at or after this time are returned.
          type: string
  - filterable:
      queryParameters:
        filter:
          description: |
             Issues assigned to you / created by you / mentioning you / you're
             subscribed to updates for / All issues the authenticated user can see
          enum:
            - assigned
            - created
            - mentioned
            - subscribed
            - all
          default: all
          required: true
        state:
          enum:
            - open
            - closed
          default: open
          required: true
        labels:
          description: String list of comma separated Label names. Example - bug,ui,@high.
          type: string
          required: true
        sort:
          enum:
            - created
            - updated
            - comments
          default: created
          required: true
        direction:
          enum:
            - asc
            - desc
          default: desc
          required: true
        since:
          description: |
            Optional string of a timestamp in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
            Only issues updated at or after this time are returned.
          type: string
/user:
  type: item
  get:
    description: Get the authenticated user.
    responses:
      200:
        body:
          schema: |
            {
                "$schema": "http://json-schema.org/draft-03/schema",
                "type": "object",
                "properties": {
                    "login": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "avatar_url": {
                        "type": "string"
                    },
                    "gravatar_id": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "company": {
                        "type": "string"
                    },
                    "blog": {
                        "type": "string"
                    },
                    "location": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "hireable": {
                        "type": "boolean"
                    },
                    "bio": {
                        "type": "string"
                    },
                    "public_repos": {
                        "type": "integer"
                    },
                    "public_gists": {
                        "type": "integer"
                    },
                    "followers": {
                        "type": "integer"
                    },
                    "following": {
                        "type": "integer"
                    },
                    "html_url": {
                        "type": "string"
                    },
                    "created_at": {
                        "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "total_private_repos": {
                        "type": "integer"
                    },
                    "owned_private_repos": {
                        "type": "integer"
                    },
                    "private_gists": {
                        "type": "integer"
                    },
                    "disk_usage": {
                        "type": "integer"
                    },
                    "collaborators": {
                        "type": "integer"
                    },
                    "plan": {
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "space": {
                                "type": "integer"
                            },
                            "collaborators": {
                                "type": "integer"
                            },
                            "private_repos": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                }
            }
          example: |
            {
              "login": "octocat",
              "id": 1,
              "avatar_url": "https://github.com/images/error/octocat_happy.gif",
              "gravatar_id": "somehexcode",
              "url": "https://api.github.com/users/octocat",
              "name": "monalisa octocat",
              "company": "GitHub",
              "blog": "https://github.com/blog",
              "location": "San Francisco",
              "email": "octocat@github.com",
              "hireable": false,
              "bio": "There once was...",
              "public_repos": 2,
              "public_gists": 1,
              "followers": 20,
              "following": 0,
              "html_url": "https://github.com/octocat",
              "created_at": "2008-01-14T04:33:35Z",
              "type": "User",
              "total_private_repos": 100,
              "owned_private_repos": 100,
              "private_gists": 81,
              "disk_usage": 10000,
              "collaborators": 8,
              "plan": {
                "name": "Medium",
                "space": 400,
                "collaborators": 10,
                "private_repos": 20
              }
            }
  patch:
    description: Update the authenticated user.
    body:
      application/json:
        schema: |
          {
              "$schema": "http://json-schema.org/draft-03/schema",
              "type": "object",
              "properties": {
              	"name": {
              		"type": "string"
              	},
              	"email": {
              		"type": "string"
              	},
              	"blog": {
              		"type": "string"
              	},
              	"company": {
              		"type": "string"
              	},
              	"location": {
              		"type": "string"
              	},
              	"hireable": {
              		"type": "boolean"
              	},
              	"bio": {
              		"type": "string"
              	}
          	}
          }
    responses:
      200:
        body:
          schema: |
            {
                "$schema": "http://json-schema.org/draft-03/schema",
                "type": "object",
                "properties": {
                    "login": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "avatar_url": {
                        "type": "string"
                    },
                    "gravatar_id": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "company": {
                        "type": "string"
                    },
                    "blog": {
                        "type": "string"
                    },
                    "location": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "hireable": {
                        "type": "boolean"
                    },
                    "bio": {
                        "type": "string"
                    },
                    "public_repos": {
                        "type": "integer"
                    },
                    "public_gists": {
                        "type": "integer"
                    },
                    "followers": {
                        "type": "integer"
                    },
                    "following": {
                        "type": "integer"
                    },
                    "html_url": {
                        "type": "string"
                    },
                    "created_at": {
                        "description": "ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ",
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "total_private_repos": {
                        "type": "integer"
                    },
                    "owned_private_repos": {
                        "type": "integer"
                    },
                    "private_gists": {
                        "type": "integer"
                    },
                    "disk_usage": {
                        "type": "integer"
                    },
                    "collaborators": {
                        "type": "integer"
                    },
                    "plan": {
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "space": {
                                "type": "integer"
                            },
                            "collaborators": {
                                "type": "integer"
                            },
                            "private_repos": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                }
            }
          example: |
            {
              "login": "octocat",
              "id": 1,
              "avatar_url": "https://github.com/images/error/octocat_happy.gif",
              "gravatar_id": "somehexcode",
              "url": "https://api.github.com/users/octocat",
              "name": "monalisa octocat",
              "company": "GitHub",
              "blog": "https://github.com/blog",
              "location": "San Francisco",
              "email": "octocat@github.com",
              "hireable": false,
              "bio": "There once was...",
              "public_repos": 2,
              "public_gists": 1,
              "followers": 20,
              "following": 0,
              "html_url": "https://github.com/octocat",
              "created_at": "2008-01-14T04:33:35Z",
              "type": "User",
              "total_private_repos": 100,
              "owned_private_repos": 100,
              "private_gists": 81,
              "disk_usage": 10000,
              "collaborators": 8,
              "plan": {
                "name": "Medium",
                "space": 400,
                "collaborators": 10,
                "private_repos": 20
              }
            }
  /code:
    type: collection
    get:
      description: Search code.
      queryParameters:
        q:
          description: |
            The search terms. This can be any combination of the supported code
            search parameters:
            'Search In' Qualifies which fields are searched. With this qualifier
            you can restrict the search to just the file contents, the file path,
            or both.
            'Languages' Searches code based on the language it's written in.
            'Forks' Filters repositories based on the number of forks, and/or
            whether code from forked repositories should be included in the results
            at all.
            'Size' Finds files that match a certain size (in bytes).
            'Path' Specifies the path that the resulting file must be at.
            'Extension' Matches files with a certain extension.
            'Users' or 'Repositories' Limits searches to a specific user or repository.
          type: string
          required: true
        sort:
          description: |
            Can only be 'indexed', which indicates how recently a file has been indexed
            by the GitHub search infrastructure. If not provided, results are sorted
            by best match.
          enum:
            - indexed
        order:
          enum:
            - asc
            - desc
          default: desc
      responses:
        200:
          body:
            schema: |
              {
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "type": "object",
                  "properties": {
                      "total_count": {
                          "type": "integer"
                      },
                      "items": [
                          {
                              "properties": {
                                  "name": {
                                      "type": "string"
                                  },
                                  "path": {
                                      "type": "string"
                                  },
                                  "sha": {
                                      "type": "string"
                                  },
                                  "url": {
                                      "type": "string"
                                  },
                                  "git_url": {
                                      "type": "string"
                                  },
                                  "html_url": {
                                      "type": "string"
                                  },
                                  "repository": {
                                      "properties": {
                                          "id": {
                                              "type": "integer"
                                          },
                                          "name": {
                                              "type": "string"
                                          },
                                          "full_name": {
                                              "type": "string"
                                          },
                                          "owner": {
                                              "properties": {
                                                  "login": {
                                                      "type": "string"
                                                  },
                                                  "id": {
                                                      "type": "integer"
                                                  },
                                                  "avatar_url": {
                                                      "type": "string"
                                                  },
                                                  "gravatar_id": {
                                                      "type": "string"
                                                  },
                                                  "url": {
                                                      "type": "string"
                                                  },
                                                  "html_url": {
                                                      "type": "string"
                                                  },
                                                  "followers_url": {
                                                      "type": "string"
                                                  },
                                                  "following_url": {
                                                      "type": "string"
                                                  },
                                                  "gists_url": {
                                                      "type": "string"
                                                  },
                                                  "starred_url": {
                                                      "type": "string"
                                                  },
                                                  "subscriptions_url": {
                                                      "type": "string"
                                                  },
                                                  "organizations_url": {
                                                      "type": "string"
                                                  },
                                                  "repos_url": {
                                                      "type": "string"
                                                  },
                                                  "events_url": {
                                                      "type": "string"
                                                  },
                                                  "received_events_url": {
                                                      "type": "string"
                                                  },
                                                  "type": {
                                                      "type": "string"
                                                  }
                                              },
                                              "type": "object"
                                          },
                                          "private": {
                                              "type": "boolean"
                                          },
                                          "html_url": {
                                              "type": "string"
                                          },
                                          "description": {
                                              "type": "string"
                                          },
                                          "fork": {
                                              "type": "boolean"
                                          },
                                          "url": {
                                              "type": "string"
                                          },
                                          "forks_url": {
                                              "type": "string"
                                          },
                                          "keys_url": {
                                              "type": "string"
                                          },
                                          "collaborators_url": {
                                              "type": "string"
                                          },
                                          "teams_url": {
                                              "type": "string"
                                          },
                                          "hooks_url": {
                                              "type": "string"
                                          },
                                          "issue_events_url": {
                                              "type": "string"
                                          },
                                          "events_url": {
                                              "type": "string"
                                          },
                                          "assignees_url": {
                                              "type": "string"
                                          },
                                          "branches_url": {
                                              "type": "string"
                                          },
                                          "tags_url": {
                                              "type": "string"
                                          },
                                          "blobs_url": {
                                              "type": "string"
                                          },
                                          "git_tags_url": {
                                              "type": "string"
                                          },
                                          "git_refs_url": {
                                              "type": "string"
                                          },
                                          "trees_url": {
                                              "type": "string"
                                          },
                                          "statuses_url": {
                                              "type": "string"
                                          },
                                          "languages_url": {
                                              "type": "string"
                                          },
                                          "stargazers_url": {
                                              "type": "string"
                                          },
                                          "contributors_url": {
                                              "type": "string"
                                          },
                                          "subscribers_url": {
                                              "type": "string"
                                          },
                                          "subscription_url": {
                                              "type": "string"
                                          },
                                          "commits_url": {
                                              "type": "string"
                                          },
                                          "git_commits_url": {
                                              "type": "string"
                                          },
                                          "comments_url": {
                                              "type": "string"
                                          },
                                          "issue_comment_url": {
                                              "type": "string"
                                          },
                                          "contents_url": {
                                              "type": "string"
                                          },
                                          "compare_url": {
                                              "type": "string"
                                          },
                                          "merges_url": {
                                              "type": "string"
                                          },
                                          "archive_url": {
                                              "type": "string"
                                          },
                                          "downloads_url": {
                                              "type": "string"
                                          },
                                          "issues_url": {
                                              "type": "string"
                                          },
                                          "pulls_url": {
                                              "type": "string"
                                          },
                                          "milestones_url": {
                                              "type": "string"
                                          },
                                          "notifications_url": {
                                              "type": "string"
                                          },
                                          "labels_url": {
                                              "type": "string"
                                          }
                                      },
                                      "type": "object"
                                  },
                                  "score": {
                                      "type": "number"
                                  }
                              },
                              "type": "object"
                          }
                      ],
                      "type": "array"
                  }
              }
            example: |
              {
                "total_count": 104,
                "items": [
                  {
                    "name": "github-issue-importer.gemspec",
                    "path": "github-issue-importer.gemspec",
                    "sha": "394508202991504d8a0771ae027454facaaa045a",
                    "url": "https://api.github.com/repositories/1586630/contents/github-issue-importer.gemspec?ref=aa22a4be513163c73531e96bd99f4b49d6ded8a6",
                    "git_url": "https://api.github.com/repositories/1586630/git/blobs/394508202991504d8a0771ae027454facaaa045a",
                    "html_url": "https://github.com/johnf/github-issue-importer/blob/aa22a4be513163c73531e96bd99f4b49d6ded8a6/github-issue-importer.gemspec",
                    "repository": {
                      "id": 1586630,
                      "name": "github-issue-importer",
                      "full_name": "johnf/github-issue-importer",
                      "owner": {
                        "login": "johnf",
                        "id": 42590,
                        "avatar_url": "https://secure.gravatar.com/avatar/ab4d879ba3233a270aa14f447c795505?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png",
                        "gravatar_id": "ab4d879ba3233a270aa14f447c795505",
                        "url": "https://api.github.com/users/johnf",
                        "html_url": "https://github.com/johnf",
                        "followers_url": "https://api.github.com/users/johnf/followers",
                        "following_url": "https://api.github.com/users/johnf/following{/other_user}",
                        "gists_url": "https://api.github.com/users/johnf/gists{/gist_id}",
                        "starred_url": "https://api.github.com/users/johnf/starred{/owner}{/repo}",
                        "subscriptions_url": "https://api.github.com/users/johnf/subscriptions",
                        "organizations_url": "https://api.github.com/users/johnf/orgs",
                        "repos_url": "https://api.github.com/users/johnf/repos",
                        "events_url": "https://api.github.com/users/johnf/events{/privacy}",
                        "received_events_url": "https://api.github.com/users/johnf/received_events",
                        "type": "User"
                      },
                      "private": false,
                      "html_url": "https://github.com/johnf/github-issue-importer",
                      "description": "Import Issues from Launchpad (for now) into github",
                      "fork": false,
                      "url": "https://api.github.com/repos/johnf/github-issue-importer",
                      "forks_url": "https://api.github.com/repos/johnf/github-issue-importer/forks",
                      "keys_url": "https://api.github.com/repos/johnf/github-issue-importer/keys{/key_id}",
                      "collaborators_url": "https://api.github.com/repos/johnf/github-issue-importer/collaborators{/collaborator}",
                      "teams_url": "https://api.github.com/repos/johnf/github-issue-importer/teams",
                      "hooks_url": "https://api.github.com/repos/johnf/github-issue-importer/hooks",
                      "issue_events_url": "https://api.github.com/repos/johnf/github-issue-importer/issues/events{/number}",
                      "events_url": "https://api.github.com/repos/johnf/github-issue-importer/events",
                      "assignees_url": "https://api.github.com/repos/johnf/github-issue-importer/assignees{/user}",
                      "branches_url": "https://api.github.com/repos/johnf/github-issue-importer/branches{/branch}",
                      "tags_url": "https://api.github.com/repos/johnf/github-issue-importer/tags",
                      "blobs_url": "https://api.github.com/repos/johnf/github-issue-importer/git/blobs{/sha}",
                      "git_tags_url": "https://api.github.com/repos/johnf/github-issue-importer/git/tags{/sha}",
                      "git_refs_url": "https://api.github.com/repos/johnf/github-issue-importer/git/refs{/sha}",
                      "trees_url": "https://api.github.com/repos/johnf/github-issue-importer/git/trees{/sha}",
                      "statuses_url": "https://api.github.com/repos/johnf/github-issue-importer/statuses/{sha}",
                      "languages_url": "https://api.github.com/repos/johnf/github-issue-importer/languages",
                      "stargazers_url": "https://api.github.com/repos/johnf/github-issue-importer/stargazers",
                      "contributors_url": "https://api.github.com/repos/johnf/github-issue-importer/contributors",
                      "subscribers_url": "https://api.github.com/repos/johnf/github-issue-importer/subscribers",
                      "subscription_url": "https://api.github.com/repos/johnf/github-issue-importer/subscription",
                      "commits_url": "https://api.github.com/repos/johnf/github-issue-importer/commits{/sha}",
                      "git_commits_url": "https://api.github.com/repos/johnf/github-issue-importer/git/commits{/sha}",
                      "comments_url": "https://api.github.com/repos/johnf/github-issue-importer/comments{/number}",
                      "issue_comment_url": "https://api.github.com/repos/johnf/github-issue-importer/issues/comments/{number}",
                      "contents_url": "https://api.github.com/repos/johnf/github-issue-importer/contents/{+path}",
                      "compare_url": "https://api.github.com/repos/johnf/github-issue-importer/compare/{base}...{head}",
                      "merges_url": "https://api.github.com/repos/johnf/github-issue-importer/merges",
                      "archive_url": "https://api.github.com/repos/johnf/github-issue-importer/{archive_format}{/ref}",
                      "downloads_url": "https://api.github.com/repos/johnf/github-issue-importer/downloads",
                      "issues_url": "https://api.github.com/repos/johnf/github-issue-importer/issues{/number}",
                      "pulls_url": "https://api.github.com/repos/johnf/github-issue-importer/pulls{/number}",
                      "milestones_url": "https://api.github.com/repos/johnf/github-issue-importer/milestones{/number}",
                      "notifications_url": "https://api.github.com/repos/johnf/github-issue-importer/notifications{?since,all,participating}",
                      "labels_url": "https://api.github.com/repos/johnf/github-issue-importer/labels{/name}"
                    },
                    "score": 0.96691436
                  }
                ]
              }
 
# Meta
/meta:
  type: collection
  get:
    description: This gives some information about GitHub.com, the service.
    responses:
      200:
        body:
          schema: |
            {
                "$schema": "http://json-schema.org/draft-03/schema",
                "type": "object",
                "properties": {
                    "hooks": [
                        {
                            "description": "An Array of IP addresses in CIDR format specifying the addresses that incoming service hooks will originate from.",
                            "type": "string"
                        }
                    ],
                    "type": "array",
                    "git": [
                        {
                            "description": "An Array of IP addresses in CIDR format specifying the Git servers at GitHub.",
                            "type": "string"
                        }
                    ]
                }
            }
          example: |
            {
              "hooks": [
                "127.0.0.1/32"
              ],
              "git": [
                "127.0.0.1/32"
              ]
            }